@import "../../Styles/variable";

.student-container {
  // background-color: aqua;
  height: 100%;
  width: 100vw;
  @include flexCenter(unset);
  align-items: unset;
  // background-color: peachpuff;
}

.student-wrapper {
  background-color: palevioletred;
}
