@import "./variable";

.books-container {
  height: 100%;
  width: 100%;
  @include flexCenter(space-between);
  align-items: unset;
  position: relative;
}
.bookQr {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  z-index: 99;
  @include flexCenter(center);
  // transform: translateY(-100%);
}

// btn float
#btn-add {
  position: absolute;
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  // color: #000;
  border: 1px solid #34b970;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 800;
  @include flexCenter(center);
  right: 7%;
  top: 500px;
  z-index: 1;
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.book-section {
  width: 100%;
  min-width: $min-width;
  height: $table-fix-height;

  section {
    height: 100%;
    width: 98%;
    margin: 0 auto;
    overflow-y: hidden;
    // border: 1px solid black;
    background-color: #ffffff9f;
  }
  header {
    height: $table-head-height;
    border-radius: 10px 10px 0 0;
    width: 100%;
    background-color: $tb-head-clr;
    padding-top: 1rem;

    h2 {
      text-align: center;
      color: $txt-clr2;
    }
    .search-input {
      display: flex;
      align-items: center;

      input {
        margin-right: 2px;
        margin-left: 10px;
        padding-left: 5px;
        font-weight: 400;
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid $main-bg-clr;
        height: $main-height;
        width: 11rem;
        cursor: pointer;
        outline: 0;
      }
      .btn-search {
        height: $main-height;
        padding: 0 1rem;
        border: 1px solid $main-bg-clr;
        border-radius: 5px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  } // end of header

  // table
  .table-section {
    height: 400px;
    width: 100%;
    overflow: auto;

    thead th {
      position: sticky;
      top: 0;
      background-color: $main-bg-clr;
      color: $main-txt-clr;
      padding: 5px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    tr {
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      &:last-of-type {
        // border-bottom: 1px solid #000;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
          rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
    }
    td {
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      padding: 7px 9px;
      word-wrap: break-word;
      max-height: 4rem;
      // height: 4rem;
      min-width: $td-width;
    }
    th {
      border-top: transparent;
    }
    tr:nth-child(odd) {
      background-color: $tr-book-clr;
    }
    tr:nth-child(even) {
      background-color: #fff;
    }

    .author-box {
      max-width: 12rem;
    }

    .action {
      // width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      column-gap: 2px;
      #view {
        padding: 4px 8px;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
        background-color: #26a1ed;
        border: 1px solid #26a1ed;
        // border: none;
      }

      #download {
        background-color: $delete-clr;
        border: 1px solid $delete-clr2;
        padding: 4px 8px;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
        color: $btn-txt-clr;
      }
    }
  }
}
@media screen and (max-height: 600px) {
  .book-section {
    height: 33rem;
  }
}

@media screen and (max-width: $media-screen) {
  .book-section {
    min-width: $min-width;
    section {
      width: 100%;
      // margin-top: 1rem;
    }
    header {
      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}
