@import "../Styles/variable";

.issue-book-container {
  width: 100%;
  height: $container-height;
  @include flexCenter(space-between);
  align-items: unset;
  background-image: url("../assets/svcc-issue-library.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  // overflow-y: scroll;

  .form-wrapper {
    height: 100%;
    width: 100%;
    // padding: 0 1rem;
    margin: 0 auto;
    @include flexCenter(center);

    form {
      width: 50%;
      height: 90%;
      @include flexCenter(center);
      flex-direction: column;
      row-gap: 1rem;
      padding: 1rem;
      background-color: #f3f3f3;
      border-radius: 10px 0 0 10px;

      #btn-issue {
        padding: 6px 20px;
        background-color: $main-bg-clr;
        color: $main-txt-clr;
        font-weight: 500;
        font-size: 17px;
        border: 1px solid transparent;
        border-radius: 5px;
        cursor: pointer;
        &:active {
          transform: scale(1.1);
        }
      }

      .issue-field {
        @include flexCenter(unset);
        // width: 100%;
        height: 3rem;
        label {
          min-width: 10rem;
          font-size: 1.2rem;
          font-weight: 500;
          color: $main-bg-clr;
        }
        input {
          width: 17rem;
          height: 2.5rem;
          font-weight: 400;
          font-size: 1rem;
          padding: 0 10px;
          border: 1px solid $main-bg-clr;
          border-radius: 10px;
          outline: none;
        }
      }
    }

    .qr-box {
      // width: 20rem;
      width: 25vw;
      height: 90%;
      padding: 1rem;
      //   display: block;
      background-color: $main-txt-clr;
      border-radius: 0 10px 10px 0;

      .upper-box {
        height: 60%;
        @include flexCenter(center);
      }
      .img-box {
        height: 90%;
        width: 90%;
        max-height: 290px;
        @include flexCenter(center);
        color: $main-txt-clr;
        text-align: center;
        background-color: $main-bg-clr;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border-radius: 10px;
        position: relative;
        p {
          position: absolute;
        }
        section {
          div {
            position: unset !important;
          }
        }

        .boxScanner {
          height: 125px;
          width: 125px;
          // background-color: aqua;
          z-index: 4;
          background: linear-gradient(to right, red 4px, transparent 4px) 0 0,
            linear-gradient(to right, red 4px, transparent 4px) 0 100%,
            linear-gradient(to left, red 4px, transparent 4px) 100% 0,
            linear-gradient(to left, red 4px, transparent 4px) 100% 100%,
            linear-gradient(to bottom, red 4px, transparent 4px) 0 0,
            linear-gradient(to bottom, red 4px, transparent 4px) 100% 0,
            linear-gradient(to top, red 4px, transparent 4px) 0 100%,
            linear-gradient(to top, red 4px, transparent 4px) 100% 100%;
          background-repeat: no-repeat;
          background-size: 20px 20px;
        }
      }
      .bottom-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        column-gap: 10px;

        button {
          padding: 5px 17px;
          border: 1px solid transparent;
          border-radius: 5px;
          font-weight: 500;
          cursor: pointer;

          &:first-of-type {
            background-color: #26a1ed;
          }
          &:nth-of-type(2) {
            background-color: $delete-clr;
            color: $main-txt-clr;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $media-screen) {
  .issue-book-container {
    height: max-content;
    padding: 1rem 0 2rem;

    .form-wrapper {
      flex-direction: column-reverse;
      padding: 0 1rem;
      row-gap: 1rem;
      form {
        width: 100%;
        border-radius: 10px;
        padding: 2rem 3rem;

        .issue-field {
          height: auto;
          flex-direction: column;
          align-items: unset;
          input {
            width: 20rem;
          }
          label {
            min-width: 8rem;
          }
        }
      }

      .qr-box {
        height: 15rem;
        width: 20rem;
        background-color: $head-clr;
        border-radius: 10px;

        .upper-box {
          height: 90%;
        }
        .img-box {
          height: 95%;
          width: 95%;
          border-radius: 10px;
          #qr-img {
            border-radius: 10px;
          }
        }
      }
    }
  }
}
